<html lang="en">
<head>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue live</title>
    
    <style>
        .box{
            background: lavender;
            margin: 20px;
            width: 100px;
            padding: 50;
            text-align: center;
            display: inline-block;
        }
    </style>
</head>


<body>
    <h1>Vue tutorial</h1>


    <div id="app"> 
        <p>{{title}} - {{age}}</p>
        
        <button v-if="!show" @click="show = !show">Show</button>
        <button v-else @click="show = !show">Hide</button>
        
        <div v-if="show">
            <button v-on:click="age++"> increase age  </button>
            <button @click="age--"> decrease age</button>

            <input v-bind="newTitle">
            <button @click="changeTitle('testtitel')"> change </button>
        </div>
        <p>Event counter: {{eventTracker}}</p>
    
    <br>
    
    <div class="box" @dblclick="eventTracker++">Dubbelklick event</div>
    <div class="box" @mouseenter="eventTracker++">Event när går in i låda</div>
    <div class="box" @mouseout="eventTracker++">Event när du går ur</div>
    <div class="box" @mousemove="positionHandler"> x - {{ x }},  y - {{ y }}</div>
        
    </div>

    <script src="app.js"></script>
</body>
</html>